@font-face {
  font-family: "AvenirNextCyr-Bold";
  font-display: auto;
  src: url("../fonts/AvenirNextCyr-Bold.ttf");
}

@font-face {
  font-family: "Avenir Next Cyr";
  font-display: auto;
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-display: auto;
  src: url("../fonts/Raleway-Regular.ttf");
}

a {
  display: inline-block;
}

.btn-standart {
  width: 225px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  background-color: #d23738;
  color: #fff;
  font-family: Tahoma;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.btn-standart:hover {
  background-color: #ff9927;
  color: #ffffff;
}

.page-name {
  padding-top: 75px;
}

.page-name__title {
  color: #000000;
  font-family: "AvenirNextCyr-Bold";
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.page-slogan {
  color: #8a8a8a;
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.page-name__subtitle {
  margin-top: 21px;
  color: #000000;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 575px) {
  .com-item-wrap {
    width: 50%;
  }
}

.com-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.com-item-image {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
}

.com-item-text {
  text-align: center;
  font-family: "Raleway";
}

.work-scheme-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-scheme-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-scheme-image::after {
  content: "";
  position: absolute;
  background: url("../img/commercial/arrow-point-to-right.png") no-repeat;
  background-size: cover;
  height: 57px;
  width: 57px;
  top: calc( 50% - 57px / 2);
  right: -67px;
}

@media (max-width: 1199px) {
  .work-scheme-image::after {
    right: -43px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 991px) {
  .work-scheme-image::after {
    right: -100px;
  }
}

@media (max-width: 767px) {
  .work-scheme-image::after {
    right: -57px;
  }
}

@media (max-width: 575px) {
  .work-scheme-image::after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .work-scheme-image img {
    width: 80%;
  }
}

.work-scheme-item:last-child .work-scheme-image::after {
  display: none;
}

@media (max-width: 991px) {
  .work-scheme-item:nth-child(2) .work-scheme-image::after {
    display: none;
  }
}

@media (max-width: 575px) {
  .system-option {
    margin-bottom: 50px !important;
  }
}

.system-option__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.system-option__title-text {
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}

.system-option__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.system-option__item-icon {
  height: 60px;
  align-items: baseline;
}

.system-option__item-text {
  margin-top: 20px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  min-height: 60px;
  text-align: center;
}

.more-info__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.more-info__item-icon {
  margin-right: 30px;
}

.more-info__item-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
ttom: 50px !important;
  }
}

.system-option__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.system-option__title-text {
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}

.system-option__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.system-option__item-icon {
  height: 60px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.system-option__item-text {
  margin-top: 20px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  min-height: 60px;
  text-align: center;
}

.more-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.more-info__item-icon {
  margin-right: 30px;
}

.more-info__item-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
