@font-face {
  font-family: "AvenirNextCyr-Bold";
  font-display: auto;
  src: url("../fonts/AvenirNextCyr-Bold.ttf");
}

@font-face {
  font-family: "Avenir Next Cyr";
  font-display: auto;
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-display: auto;
  src: url("../fonts/Raleway-Regular.ttf");
}
