.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loyality-paragraph {
  font-family: "Arial";
  font-size: 14px;
  line-height: 26px;
  font-family: Arial;
  margin-bottom: 20px;
}

.block-title {
  font-family: "Arial";
  font-size: 24px;
}

.mb-lg {
  margin-bottom: 35px;
}

.mb-sm {
  margin-bottom: 15px;
}

.mb-140px {
  margin-bottom: 140px;
}

.task {
  margin-bottom: 50px;
}

.task-item {
  margin-bottom: 20px;
}

.task-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-item__text {
  max-width: 217px;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}

.task-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-family: "Arial - Black";
  font-size: 92px;
  font-weight: 400;
  line-height: 26px;
  width: 217px;
  height: 217px;
  border-radius: 50%;
}

.left-icon {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9425), to(#d63c35));
  background-image: -webkit-linear-gradient(left, #ff9425 0%, #d63c35 100%);
  background-image: -o-linear-gradient(left, #ff9425 0%, #d63c35 100%);
  background-image: linear-gradient(to right, #ff9425 0%, #d63c35 100%);
}

.center-icon {
  background-image: -webkit-gradient(linear, left top, right top, from(#cd3539), to(#991944));
  background-image: -webkit-linear-gradient(left, #cd3539 0%, #991944 100%);
  background-image: -o-linear-gradient(left, #cd3539 0%, #991944 100%);
  background-image: linear-gradient(to right, #cd3539 0%, #991944 100%);
}

.right-icon {
  background-image: -webkit-gradient(linear, left top, right top, from(#8e1546), to(#510a50));
  background-image: -webkit-linear-gradient(left, #8e1546 0%, #510a50 100%);
  background-image: -o-linear-gradient(left, #8e1546 0%, #510a50 100%);
  background-image: linear-gradient(to right, #8e1546 0%, #510a50 100%);
}

.image-shadow {
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.61);
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.61);
}

.client-actions {
  padding: 50px 0;
  background-color: #6b0d4b;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff831f), to(#5b0b4e));
  background-image: -webkit-linear-gradient(left, #ff831f 0%, #5b0b4e 100%);
  background-image: -o-linear-gradient(left, #ff831f 0%, #5b0b4e 100%);
  background-image: linear-gradient(to right, #ff831f 0%, #5b0b4e 100%);
}

.client-actions-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.client-actions-item__text {
  color: #ffffff;
  font-family: "Arial";
  font-size: 16px;
  line-height: 26px;
}

.client-actions-moreinfo {
  border: 1px solid #9f9f9f;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  z-index: 10;
  margin-top: -5px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.client-actions-moreinfo-item__icon {
  padding-bottom: 20px;
}

.client-actions-moreinfo-item__text {
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
}

.about-code {
  margin-top: 150px;
  background: #f96b00;
  height: 432px;
  margin-bottom: 60px;
}

.about-code__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 30px;
  position: relative;
  z-index: 1;
}

.about-code__image-wrapper {
  position: relative;
  z-index: 1;
}

.about-code__image {
  display: block;
  position: absolute;
  top: -38px;
  left: 65px;
  z-index: 2;
}

.about-code-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-code-item__icon-wrapper {
  margin-right: 17px;
}

.about-code-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: "Arial";
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.icon-1 {
  background-color: #ff9927;
}

.icon-2 {
  background-color: #d23738;
}

.icon-3 {
  background-color: #931646;
}

.icon-4 {
  background-color: #4e0950;
}

.about-code-item__text {
  color: #ffffff;
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
}

.block-items {
  margin-bottom: 30px;
}

.block-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-item-2__icon {
  padding: 20px 0;
  height: 96px;
}

.block-item-2__text {
  text-align: center;
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
}

.mechanism {
  margin-top: 40px;
}

.mechanism-list__item {
  list-style-type: disc;
  list-style-position: inside;
  font-family: "Arial";
  font-size: 14px;
  line-height: 24px;
}

.img-fluid {
  background: url("../img/authorization/oborot.jpg");
}
