@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("../fonts/AvenirNextCyr-Bold.ttf");
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

.header {
  padding: 10px 15px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-company__logo {
  position: relative;
  display: block;
}

.header-company__logo::after {
  content: "";
  top: 3px;
  right: -15px;
  position: absolute;
  width: 3px;
  height: 50px;
  background-color: #ff7018;
}

.header-company__description {
  margin-left: 30px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1420px) {
  .header-company__description {
    width: 210px;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 450px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-list-item {
  margin-right: 30px;
  position: relative;
  z-index: 1011;
}

.header-menu-list-item:last-child {
  margin: 0;
}

.header-menu-list-item-link {
  position: relative;
  z-index: 1011;
  font-family: "Raleway";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-menu-list-item-link:hover {
  color: #ff9225;
}

.header-menu-list-item-link .fa {
  margin-left: 5px;
  font-size: 16px;
}

.dropdown-list {
  padding-top: 35px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0;
  min-width: 205px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: -1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: calc(-205px / 2 + 50%);
  list-style: none;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-list-item {
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding: 10px 10px;
}

.dropdown-list-item:last-child {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-list-item-link {
  display: block;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  line-height: 18px;
}

.dropdown-list-item-link:hover {
  color: #ff9225;
}

.header-menu-list-item:hover > .dropdown-list {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  z-index: 1000;
}

.dropdown-list:hover + .header-menu-list-item-link {
  color: #ff9225;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.phone-number {
  display: block;
  font-family: "Avenir Next Cyr";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-right: 30px;
}

@media (max-width: 1300px) {
  .phone-number {
    margin: 0;
  }
}

.call-btn {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: "Avenir Next Cyr";
  font-weight: 500;
  padding: 5px;
  min-width: 150px;
  min-height: 30px;
  border-radius: 4px;
  border: 1px solid #ff9927;
  color: #ff9227;
  cursor: pointer;
}

.call-btn:hover {
  color: #ffffff;
  background: #ff9927;
}

.gradient-strip {
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#FF9927), color-stop(20.99%, #FF7018), color-stop(39.23%, #D23738), color-stop(60.22%, #931646), color-stop(79.56%, #6A0D4B), to(#4E0950));
  background: -webkit-linear-gradient(left, #FF9927 0%, #FF7018 20.99%, #D23738 39.23%, #931646 60.22%, #6A0D4B 79.56%, #4E0950 100%);
  background: -o-linear-gradient(left, #FF9927 0%, #FF7018 20.99%, #D23738 39.23%, #931646 60.22%, #6A0D4B 79.56%, #4E0950 100%);
  background: linear-gradient(90deg, #FF9927 0%, #FF7018 20.99%, #D23738 39.23%, #931646 60.22%, #6A0D4B 79.56%, #4E0950 100%);
}

.main-banner {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/mainpage/Main header.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-banner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagetitle {
  padding-right: 30px;
  margin-top: 50px;
  margin-left: 200px;
  max-width: 950px;
  min-height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagetitle-text {
  color: #ffffff;
  font-family: "AvenirNextCyr-Bold";
  font-size: 60px;
  line-height: 63px;
  margin-bottom: 70px;
}

.pagetitle-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 580px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button {
  width: 265px;
  height: 58px;
  border-radius: 6px;
}

.button-orange {
  background: #ff9225;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button-orange:hover {
  background: #FF9E3D;
}

.button-gradient {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-image: -webkit-linear-gradient(346deg, #ff9927 0%, #ff7018 12%, #d23738 35%, #b02540 52%, #931646 62%, #6a0d4b 80%, #4e0950 100%);
  background-image: -o-linear-gradient(346deg, #ff9927 0%, #ff7018 12%, #d23738 35%, #b02540 52%, #931646 62%, #6a0d4b 80%, #4e0950 100%);
  background-image: linear-gradient(104deg, #ff9927 0%, #ff7018 12%, #d23738 35%, #b02540 52%, #931646 62%, #6a0d4b 80%, #4e0950 100%);
}

.client-profit {
  padding-bottom: 133px;
}

.client-profit__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__title {
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "AvenirNextCyr-Bold";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.client-card {
  border-radius: 15px;
  height: 417px;
  max-width: 262px;
  margin: 0 auto;
  position: relative;
  background-size: contain;
  background-position: center center;
}

.neste {
  background: url("../img/mainpage/Group 16.png") no-repeat;
}

.vkusno {
  background: url("../img/mainpage/Group 18.png") no-repeat;
}

.maxpower {
  background: url("../img/mainpage/Group 2.png") no-repeat;
}

.pirogi {
  background: url("../img/mainpage/Group 2.1.png") no-repeat;
}

.card-inner {
  position: absolute;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.card-title {
  padding: 0 15px;
  font-size: 30px;
  color: #fff;
  font-family: "AvenirNextCyr-Bold";
  width: 100%;
  text-align: center;
}

.card-text {
  padding: 0 10px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 1410px) {
  .block-col-4 {
    margin-left: 8.333333%;
    padding-right: 8.333333%;
  }
}

.block-content {
  max-width: 500px;
}

@media (max-width: 1199px) {
  .block-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    margin-top: 40px;
  }
}

.-grey {
  background-color: #efefef;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-1 {
  padding: 50px 0;
}

.block-2 {
  padding: 100px 0;
}

@media (max-width: 1199px) {
  .block-2 {
    padding: 50px 0;
  }
}

.block-title {
  color: #000000;
  font-family: "AvenirNextCyr-Bold";
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 36px;
}

.block-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 100px;
}

.block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 175px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #ff9927;
  background-color: #ff9927;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.block-btn:hover {
  background: #FF9E3D;
}

.service-for {
  background-color: #efefef;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .phone-image {
    max-width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

.block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .block-item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .block-item {
    width: 75%;
  }
}

@media (max-width: 570px) {
  .block-item {
    width: 100%;
  }
}

.block-item-icon {
  width: 60px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.block-item-text {
  width: 80%;
  padding-left: 5%;
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.partners {
  padding-bottom: 80px;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media (max-width: 1250px) {
  .partners-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.partners-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  height: 150px;
}

@media (max-width: 1250px) {
  .partners-list-item {
    width: 33%;
  }
}

@media (max-width: 767px) {
  .partners-list-item {
    width: 100%;
  }
}

.feedback {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 90px;
}

.feedback-block__title {
  color: #000000;
  font-family: "AvenirNextCyr-Bold";
  font-size: 36px;
  line-height: 42px;
}

.feedback-block__subtitle {
  color: #000000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.feedback__input {
  width: 100%;
  height: 50px;
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  border-radius: 4px;
}

.feedback__input-placeholder {
  height: 100%;
  background-color: #ffffff;
  position: relative;
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
}

.feedback__input-placeholder input {
  height: 50px;
  padding: 0 15px;
}

.feedback__input-placeholder input:valid + .feedback__placeholder {
  display: none;
}

.feedback__input:focus + .feedback__placeholder {
  display: none;
}

.feedback__placeholder {
  padding: 0 15px;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 8px);
  margin: auto;
  color: #000000;
  font-family: "Raleway";
}

.feedback__placeholder span {
  color: #eb6c06;
  font-size: 16px;
}

.feedback__confidential {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 19px;
}

.confidential-link {
  color: #ff9f40;
  text-decoration: underline !important;
}

.confidential-link:hover {
  color: #ff9f40;
}

.feedback-btn__submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  border-radius: 6px;
  background-color: #ff9225;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.feedback-btn__submit:hover {
  background: #ff9f40;
}

.feedback-form__action {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 15px;
}

.footer-menu-wrapper {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-menu__title {
  color: #000000;
  font-family: "Avenir Next Cyr";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 10px;
}

.footer-menu__item {
  color: #505050;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.contacts-link, .contacts-text {
  color: #000000;
  font-family: "Avenir Next Cyr";
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.contacts-text {
  font-size: 14px !important;
}

.contacts-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff !important;
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  width: 170px;
  height: 30px;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9927), color-stop(21%, #ff7018), color-stop(39%, #d23738), color-stop(60%, #931646), color-stop(80%, #6a0d4b), to(#4e0950));
  background-image: -webkit-linear-gradient(left, #ff9927 0%, #ff7018 21%, #d23738 39%, #931646 60%, #6a0d4b 80%, #4e0950 100%);
  background-image: -o-linear-gradient(left, #ff9927 0%, #ff7018 21%, #d23738 39%, #931646 60%, #6a0d4b 80%, #4e0950 100%);
  background-image: linear-gradient(to right, #ff9927 0%, #ff7018 21%, #d23738 39%, #931646 60%, #6a0d4b 80%, #4e0950 100%);
}

.social-icon {
  font-size: 22px;
}

.politic-conf {
  color: #000000;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 10px;
}

.copyright {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

button {
  border: none;
  outline: none;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mb-lg {
  margin-bottom: 30px;
}

.mb-xl {
  margin-bottom: 50px;
}

.mb-100px {
  margin-bottom: 100px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: "Raleway";
  color: #fff;
  cursor: pointer;
}

.mb-sm {
  margin-bottom: 10px;
}

.p-none {
  padding: 0;
}

.pl-none {
  padding-left: 0 !important;
}

.pr-none {
  padding-right: 0 !important;
}

.pl-35px {
  padding-left: 35px;
}

.uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.underline {
  border-bottom: 1px solid #000;
}

.image-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-self: center;
}

#modal_form {
  background-color: #6a0d4b;
  width: 350px;
  height: 450px;
  border-radius: 2px;
  position: fixed;
  top: 40%;
  left: calc(50% - 350px / 2);
  margin-top: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 40px;
}

#modal_close {
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  display: block;
  background: #000;
  border-radius: 50%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  opacity: 1;
}

#modal_close:before, #modal_close:after {
  position: absolute;
  top: calc(50% - 9px);
  left: 15px;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #fff;
}

#modal_close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#modal_close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.modal-title {
  font-family: Arial;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.feedback-modal__input-placeholder {
  width: 100%;
  height: 40px;
  background-color: #fcfcfd;
  position: relative;
  line-height: 40px;
  color: #000;
  font-family: "Arial";
  font-size: 16px;
  margin-bottom: 11px;
}

.feedback-modal__input-placeholder input {
  height: 30px;
  padding: 0 14px;
}

.feedback-modal__input-placeholder input:valid + .feedback-modal__placeholder {
  display: none;
}

.feedback-modal__input:focus + .feedback-modal__placeholder {
  display: none;
}

.feedback-modal__placeholder {
  padding: 0 10px;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 20px);
  bottom: 2px;
  left: 3px;
  margin: auto;
  color: #000000;
}

.feedback-modal__placeholder span {
  color: #eb6c06;
}

.modal__radio {
  height: 30px;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__radio label {
  font-size: 14px;
  margin-right: 15px;
  cursor: pointer;
}

.modal__radio input {
  margin-right: 5px;
  cursor: pointer;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #6a0d4b;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.confidencial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
  font-size: 12px;
  color: #fff;
}

.confidencial input[type="checkbox"] {
  display: none;
}

.confidencial label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  cursor: pointer;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.confidencial label::before {
  content: '';
  display: block;
  min-width: 18px;
  height: 18px;
  border: 1px solid #767e82;
  background-color: #fff;
  margin-right: 10px;
}

.confidencial input[type="checkbox"]:checked + label::before {
  background: #fff url("../img/check.png") no-repeat center center;
}

.feedback__modal-btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d23738;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: "Arial";
  text-align: center;
}

.feedback__modal-btn:hover {
  background-color: #ff9927;
  color: #fff;
}

.breadcrumb {
  background-color: transparent;
  font-family: "Raleway";
  font-size: 12px;
  padding: 0;
  padding-top: 3px;
  margin-bottom: 30px;
}

.authorization-content {
  margin-top: 55px;
}

.sidebar-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}

.sidebar-menu__item {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar-menu__item-link::before {
  display: block;
  margin-right: 10px;
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #e7e7e7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.sidebar-menu__item-link:hover::before {
  background: #ff9927;
}

.sidebar-menu__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.sidebar-menu__item-link:hover {
  color: #ff9927;
}

.sidebar-menu__item-link.active {
  color: #4e0950;
  font-family: "Raleway";
  font-weight: 700;
}

.sidebar-menu__item-link.active:before {
  display: block;
  margin-right: 10px;
  content: "";
  border-radius: 50%;
  width: 25px;
  height: 8px;
  border-radius: 8px;
  background: #4e0950;
}

.sidebar-menu__item-link {
  color: #000000;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 35px;
}

.item-text, .item-icon {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.scrollable {
  max-height: 100vh;
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 0;
}

.content-title {
  font-size: 42px;
  font-family: "AvenirNextCyr-Bold";
  font-weight: 600;
  margin-bottom: 20px;
}

.content-subtitle {
  color: #000000;
  font-family: "AvenirNextCyr-Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
}

.content-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #4e0950;
  margin-right: 10px;
}

.content-list li {
  list-style-position: inside;
}

.content-list li::before {
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -1.5px;
  content: "";
  background: url("../img/authorization/Rectangle 3.10.png");
  width: 9px;
  height: 8px;
  vertical-align: middle;
}

.paragraph {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.paragraph:first-letter {
  margin-left: 15px;
}

.text {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.common-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
}

.p {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 32px;
}

.lh-19 {
  line-height: 19px !important;
}

.lh-42 {
  line-height: 42px !important;
}

.lh-23 {
  line-height: 23px !important;
}

.width-100 {
  width: 100% !important;
}

.shadow {
  -webkit-box-shadow: 0 0 32px rgba(120, 120, 120, 0.33);
  box-shadow: 0 0 32px rgba(120, 120, 120, 0.33);
  border-radius: 25px;
}

.gerb {
  background: url("/img/authorization/Layer 111.png") no-repeat 80% 20%;
}

.zakon-paragraph-title {
  font-family: "AvenirNextCyr-Bold";
  font-size: 20px;
  line-height: 25px;
}
