.content-inner {
  font-size: 14px;
  font-family: "Arial";
  line-height: 26px;
}

.user-auth {
  margin: 40px 0;
}

.user-auth__item-icon {
  padding-bottom: 24px;
}

.user-auth__item-text {
  text-align: center;
  line-height: 26px;
}

.user-auth__howItWork {
  margin-top: 90px;
}

.user-auth__howItWork-title {
  font-family: "Arial";
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.user-auth__howItWork-content {
  margin-bottom: 100px;
}

.user-auth__howItWork-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.howItWork-text__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#680450), color-stop(35%, #80044a), color-stop(66%, #df2537), to(#ff7b00));
  background: -webkit-linear-gradient(bottom, #680450 0%, #80044a 35%, #df2537 66%, #ff7b00 100%);
  background: -o-linear-gradient(bottom, #680450 0%, #80044a 35%, #df2537 66%, #ff7b00 100%);
  background: linear-gradient(to top, #680450 0%, #80044a 35%, #df2537 66%, #ff7b00 100%);
  background-clip: text;
  font-family: Impact;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
