@font-face {
  font-family: "AvenirNextCyr-Bold";
  font-display: auto;
  src: url("../fonts/AvenirNextCyr-Bold.ttf");
}

@font-face {
  font-family: "Avenir Next Cyr";
  font-display: auto;
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-display: auto;
  src: url("../fonts/Raleway-Regular.ttf");
}

.target {
  padding-top: 75px;
}

.title-description {
  color: #000000;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 460px) {
  .title-description {
    font-size: 18px;
  }
}

.client-make {
  margin-top: 75px;
  padding: 70px 0;
  background: #efefef;
}

.client-make-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.client-make-item-icon {
  margin-bottom: 15px;
}

.target-scheme-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.target-scheme-content {
  padding: 75px 0;
}

.target-scheme-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ff9927;
  color: #ffffff;
  border-radius: 50%;
  font-family: "AvenirNextCyr-Bold";
  font-size: 36px;
  z-index: 1;
  position: relative;
  margin-bottom: 15px;
}

.target-scheme-item-icon::after {
  z-index: -1;
  content: "";
  position: absolute;
  right: -303px;
  top: calc(50% - 1.5px);
  width: 310px;
  height: 3px;
  background: url("../img/target/Vector.png");
}

@media (max-width: 991px) {
  .target-scheme-item-icon::after {
    width: 150px;
    right: -150px;
  }
}

@media (max-width: 767px) {
  .target-scheme-item-icon::after {
    display: none;
  }
}

@media (max-width: 575px) {
  .target-scheme-item-wrap {
    margin-bottom: 20px;
  }
}

.target-scheme-item-wrap:last-child .target-scheme-item-icon::after {
  display: none;
}

.target-scheme-item-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  max-width: 100%;
}

.target-user-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target-user-item-icon {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-cost-item-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.width-90 {
  width: 90% !important;
}

@media (max-width: 767px) {
  .width-90 {
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .users .col {
    width: 50% !important;
    flex: 0 0 50%;
    max-width: 50% !important;
  }
}

@media (max-width: 460px) {
  .users .col {
    justify-content: center;
    width: 100% !important;
    flex: 0 0 100%;
    max-width: 100% !important;
  }
}

.target-cost-item {
  display: flex;
  margin-bottom: 3px;
  width: 100%;
  height: 50px;
}

@media (max-width: 480px) {
  .target-cost-item {
    height: 80px;
  }
}

.target-cost-item-left, .target-cost-item-right {
  display: flex;
  align-items: center;
  color: #fff !important;
}

.target-cost-item-left {
  padding-left: 30px;
  height: 100%;
  max-height: 100%;
  width: 70%;
  background-color: #4e0950;
  position: relative;
}

@media (max-width: 767px) {
  .target-cost-item-left {
    padding-left: 15px;
  }
}

@media (max-width: 530px) {
  .target-cost-item-left {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .target-cost-item-left {
    padding-left: 10px;
  }
}

.target-cost-item-left::after {
  content: "";
  right: -60px;
  top: 0;
  position: absolute;
  border: 25px solid transparent;
  border-left: 35px solid #4e0950;
}

@media (max-width: 530px) {
  .target-cost-item-left::after {
    border-left: 20px solid #4e0950;
    right: -45px;
  }
}

@media (max-width: 480px) {
  .target-cost-item-left::after {
    right: -65px;
    border: 40px solid transparent;
    border-left: 25px solid #4e0950;
  }
}

.target-cost-item-right {
  justify-content: flex-end;
  padding-right: 30px;
  height: 100%;
  width: 30%;
  background-color: #ff9927;
}

@media (max-width: 767px) {
  .target-cost-item-right {
    padding-right: 15px;
  }
}

@media (max-width: 530px) {
  .target-cost-item-right {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .target-cost-item-right {
    padding-right: 10px;
  }
}
0%;
  height: 50px;
}

@media (max-width: 480px) {
  .target-cost-item {
    height: 80px;
  }
}

.target-cost-item-left, .target-cost-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff !important;
}

.target-cost-item-left {
  padding-left: 30px;
  height: 100%;
  max-height: 100%;
  width: 70%;
  background-color: #4e0950;
  position: relative;
}

@media (max-width: 767px) {
  .target-cost-item-left {
    padding-left: 15px;
  }
}

@media (max-width: 530px) {
  .target-cost-item-left {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .target-cost-item-left {
    padding-left: 10px;
  }
}

.target-cost-item-left::after {
  content: "";
  right: -60px;
  top: 0;
  position: absolute;
  border: 25px solid transparent;
  border-left: 35px solid #4e0950;
}

@media (max-width: 530px) {
  .target-cost-item-left::after {
    border-left: 20px solid #4e0950;
    right: -45px;
  }
}

@media (max-width: 480px) {
  .target-cost-item-left::after {
    right: -65px;
    border: 40px solid transparent;
    border-left: 25px solid #4e0950;
  }
}

.target-cost-item-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 30px;
  height: 100%;
  width: 30%;
  background-color: #ff9927;
}

@media (max-width: 767px) {
  .target-cost-item-right {
    padding-right: 15px;
  }
}

@media (max-width: 530px) {
  .target-cost-item-right {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .target-cost-item-right {
    padding-right: 10px;
  }
}
