@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("../fonts/AvenirNextCyr-Bold.ttf");
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

.page-name {
  padding-top: 75px;
}

.width-100px {
  width: 100px !important;
}

.solution-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 150px;
}

.solution-item-icon {
  width: 100px;
  height: 100px;
  background-color: #ff9927;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.solution-item-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

table {
  width: 100%;
  border-collapse: separate;
}

table td, table th {
  text-align: center;
  vertical-align: middle;
}

.tables {
  margin-top: 75px;
}

@media (max-width: 767px) {
  .tables .container {
    width: 100%;
  }
}

.table__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.table__title-text {
  text-align: center;
  color: #000000;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
}

.table-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.table-cost table td, .table-cost table th {
  color: #000000;
  font-family: "Raleway";
  font-size: 14px;
  padding: 5px 0;
  line-height: 28px;
}

.table-cost table th {
  background-color: #7f044a;
  font-weight: 700;
  color: #fff;
}

.left-column {
  background-color: #fe7901;
  font-weight: 700;
  width: 19%;
}

.right-column {
  width: 17%;
}

.right-column, .middle-column {
  background-color: #ebe1e5;
  font-weight: 400;
}

.table-sales {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.table-sales th, .table-sales td {
  font-family: "Raleway";
  font-size: 14px;
  line-height: 28px;
  padding: 5px 0;
}

.table-sales th {
  font-weight: 700;
  color: #fff;
  background-color: #7f044a;
}

.table-sales th:first-child {
  width: 33%;
}

.table-sales th:last-child {
  width: 20%;
  background-color: #d23738;
}

.table-sales td {
  font-weight: 400;
  background-color: #ebe1e5;
}

.table-sales td:last-child {
  background-color: #fdc0b0;
}

.table-prepay {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 170px;
}

.table-prepay th, .table-prepay td {
  padding: 5px 0;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 28px;
}

.table-prepay th {
  width: 50%;
  font-weight: 700;
  color: #fff;
  background-color: #7f044a;
}

.table-prepay td {
  color: #000000;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  background-color: #ebe1e5;
}
