@import fonts.sass
/// основные стили ////
.header
    padding: 10px 15px
    display: flex
    background: #fff
    justify-content: space-around
    @media(max-width: 991px)
        justify-content: flex-start
.header-company
    display: flex
    align-items: center
    &__logo
        position: relative
        display: block
        &::after
            content: ""
            top: 3px
            right: -15px
            position: absolute
            width: 3px
            height: 50px
            background-color: #ff7018
            @media(max-width: 1150px)
                display: none
    &__description
        margin-left: 30px
        font-family: $font
        font-size: 16px
        font-weight: 500
        @media (max-width: 1420px)
            width: 210px
        @media(max-width: 1150px)
            display: none
.header-menu
    display: flex
    align-items: center
    min-width: 450px
    @media(max-width: 991px)
        display: none
    &-list
        display: flex
        &-item
            margin-right: 30px
            position: relative
            z-index: 1011
        
            &:last-child
                margin: 0
            &-link
                position: relative
                z-index: 1011
                font-family: $font
                display: flex
                align-items: center
                transition: 0.2s
                &:hover
                    color: #ff9225
                .fa
                    margin-left: 5px
                    font-size: 16px
.header-menu-list-item-link.active
    border-bottom: 2px solid #4e0950
    color: #4e0950
.dropdown-list
    padding-top: 35px
    transition: 0.2s ease-in-out
    opacity: 0
    min-width: 205px
    transform: scaleY(0)
    transform-origin: 0 0
    z-index: -1000
    flex-direction: column
    position: absolute
    top: 15px
    left: calc(-205px / 2 + 50%)
    list-style: none
    background-color: #fff
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
.dropdown-list-item
    text-align: center
    background: #fff
    border-bottom: 1px solid #efefef
    padding: 10px 10px
    &:last-child
        border: none
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
.dropdown-list-item-link
    display: block
    font-family: $font
    font-size: 14px
    font-weight: 400
    transition: 0.2s
    line-height: 18px
    &:hover
        color: #ff9225
.header-menu-list-item:hover > .dropdown-list
    opacity: 1
    transform: scaleY(1)
    z-index: 1000
.dropdown-list:hover + .header-menu-list-item-link
    color: #ff9225
.header-contacts
    display: flex
    align-items: center
    @media(max-width: 1300px)
        flex-direction: column
        justify-content: center
        align-items: center
    @media(max-width: 991px)
        display: none
.phone-number
    display: block
    font-family: $title-font
    font-size: 18px
    font-weight: 500
    line-height: 21px
    margin-right: 30px
    @media(max-width: 1300px)
        margin: 0
    
.call-btn
    transition: 0.2s
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    font-family: $title-font
    font-weight: 500
    padding: 5px
    min-width: 150px
    min-height: 30px
    border-radius: 4px
    border: 1px solid #ff9927
    color: #ff9227!important
    cursor: pointer
    &:hover
        color: #ffffff!important
        background: #ff9927
.gradient-strip
    height: 5px
    background: linear-gradient(90deg, #FF9927 0%, #FF7018 20.99%, #D23738 39.23%, #931646 60.22%, #6A0D4B 79.56%, #4E0950 100%)
////
.main-banner
    height: 751px
    display: flex
    flex-direction: column
    justify-content: center
    background: url('../img/mainpage/Main header.jpg') no-repeat
    background-position: right center
    background-size: cover
    @media(max-width: 460px)
        justify-content: flex-end
        height: 600px
    .row
        display: flex
        justify-content: center
.pagetitle
    padding-right: 30px
    margin-top: 50px
    margin-left: 200px
    max-width: 950px
    min-height: 330px
    display: flex
    flex-direction: column
    justify-content: space-between
    @media(max-width: 991px)
        max-width: 100%
        min-height: 100%
        margin: 0
        flex-wrap: wrap
        padding: 0
    @media(max-width: 767px)
        justify-content: center
        align-items: center
    @media(max-width: 460px)
        min-height: 400px
        justify-content: space-between
.pagetitle-text
    color: #ffffff
    font-family: $title-font-bold
    font-size: 60px
    line-height: 63px
    margin-bottom: 70px
    @media(max-width: 991px)
        text-align: center
        font-size: 40px
        line-height: 42px
    @media(max-width: 460px)
        font-size: 28px
        line-height: 31px
.pagetitle-buttons
    display: flex
    width: 580px
    justify-content: space-between
    @media(max-width: 991px)
        flex-wrap: wrap
        width: 100%
        align-items: center
    @media(max-width: 767px)
        justify-content: center
        width: 90%
.button
    width: 265px
    height: 58px
    border-radius: 6px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    font-size: 18px
    font-family: $font
    color: #fff
    cursor: pointer
    @media(max-width: 991px)
        margin-bottom: 30px
    @media(max-width: 460px)
        width: 100%
        height: 48px
        font-size: 14px
.button-orange
    background: #ff9225
    transition: 0.2s ease-in-out
    &:hover
        background: #FF9E3D
.button-gradient
    transition: 0.2s ease-in
    background-image: linear-gradient(104deg, rgb(255, 153, 39) 0%, rgb(255, 112, 24) 12%, rgb(210, 55, 56) 35%, rgb(176, 37, 64) 52%, rgb(147, 22, 70) 62%, rgb(106, 13, 75) 80%, rgb(78, 9, 80) 100%)
//// sections ////
.client-profit
    padding-bottom: 133px
.client-profit__cards
    display: flex
.block__title
    padding-top: 100px
    padding-bottom: 50px
    font-family: $title-font-bold
    font-size: 36px
    font-weight: 700
    line-height: 42px
.block__title-1
    padding-top: 80px
    padding-bottom: 60px
    font-family: $title-font-bold
    font-size: 36px
    font-weight: 700
    line-height: 42px
.block__title-2
    padding-top: 100px
    padding-bottom: 80px
    font-family: $title-font-bold
    font-size: 36px
    font-weight: 700
    line-height: 42px
.client-card
    border-radius: 15px
    height: 417px
    max-width: 262px
    margin: 0 auto
    position: relative
    background-size: contain
    background-position: center center

.neste
    background: url('../img/mainpage/Group 16.png') no-repeat
.vkusno
    background: url('../img/mainpage/Group 18.png') no-repeat
.maxpower
    background: url('../img/mainpage/Group 2.png') no-repeat
.pirogi
    background: url('../img/mainpage/Group 2.1.png') no-repeat
.card-inner
    position: relative
    top: 43%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    cursor: pointer
    width: 100%
.card-title
    display: flex
    align-items: center
    justify-content: center
    padding: 0 15px
    font-size: 30px
    color: #fff
    font-family: $title-font-bold
    width: 100%
    text-align: center
.card-text
    padding: 0 5px
    text-align: center
    width: 100%
    color: #ffffff
    font-family: $font
    font-size: 24px
    font-weight: 500
    line-height: 28px

/// block-grey ////
.bradius
    border-radius: 10px
.-grey
    background-color: #efefef
.block
    display: flex
    align-items: center
.block-2
    padding: 100px 0
.block-1
    padding: 100px 0
.block-3-img
    width: 90%
.block-title
    color: #000000
    font-family: $title-font-bold
    font-size: 40px
    line-height: 45px
    margin-bottom: 20px


.block-text
    color: #000000
    font-family: $font
    font-size: 18px
    font-weight: 400
    line-height: 26px
    margin-bottom: 40px
.block-btn
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    width: 175px
    height: 45px
    border-radius: 4px
    border: 1px solid #ff9927
    background-color: #ff9927
    font-family: $font
    font-size: 18px
    font-weight: 700
    line-height: 31px
    cursor: pointer
    transition: 0.2s
    &:hover
        background: #FF9E3D
.service-for
    background-color: #efefef
    padding-bottom: 100px
.phone-image
    @media (max-width: 767px)
        max-width: 100%
        height: auto
        align-self: center
.block-item
    display: flex
    width: 100%
    align-items: center
    @media (max-width: 991px)
        width: 50%
    @media (max-width: 767px)
        width: 75%
    @media (max-width: 570px)
        width: 100%
.block-item-icon
    width: 60px
    height: 55px
    display: flex
    align-items: center
    justify-content: center
.block-item-text
    width: 80%
    padding-left: 5%
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 400
    line-height: 26px
.partners
    padding-bottom: 80px
.partners-list
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: nowrap
    @media (max-width: 1250px)
        flex-wrap: wrap
.partners-list-item
    display: flex
    justify-content: center
    align-items: center
    padding: 0 30px
    height: 150px
    @media (max-width: 1250px)
        width: 33%
    @media (max-width: 767px)
        width: 100%
.feedback
    background: #efefef
    padding-top: 40px
    padding-bottom: 90px
.feedback-block__title
    color: #000000
    font-family: $title-font-bold
    font-size: 36px
    line-height: 42px
.feedback-block__subtitle
    color: #000000
    font-family: $font
    font-size: 18px
    font-weight: 400
    line-height: 28px
    margin-bottom: 40px
.feedback__input
    width: 100%
    height: 50px
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 700
    border: 1px solid #c5c5c5
    background-color: #ffffff
    border-radius: 4px
.feedback__input-placeholder 
    height: 100%
    background-color: #ffffff
    position: relative
    color: #000
    font-family: $font
    font-size: 16px
.feedback__input-placeholder input 
    height: 50px
    padding: 0 15px
.feedback__input-placeholder input:valid + .feedback__placeholder
    display: none
.feedback__input:focus + .feedback__placeholder
    display: none
.feedback__placeholder 
    padding: 0 15px
    position: absolute
    pointer-events: none
    top: calc(50% - 8px)
    margin: auto
    color: #000000
    font-family: $font
.feedback__placeholder span 
    color: #eb6c06
    font-size: 16px
.feedback__confidential
    color: #000000
    font-family: $font
    font-size: 16px
    line-height: 19px
.confidential-link
    color: #ff9f40
    text-decoration: underline!important
    &:hover
        color: #ff9f40
.feedback-btn__submit
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 50px
    border-radius: 6px
    background-color: #ff9225
    color: #ffffff
    font-family: $font
    font-size: 24px
    cursor: pointer
    transition: 0.2s
    &:hover
        background: #ff9f40
.feedback-form__action
    margin-top: 40px
    display: flex
    align-items: center
/// footer ///
.footer
    padding-top: 40px
    padding-bottom: 15px
.footer-menu-wrapper
    padding: 0 15px    
    display: flex
    justify-content: space-between
    @media(max-width: 767px)
        display: flex
        flex-wrap: wrap
.footer-menu
    width: 33%
    @media(max-width: 767px)
        width: 50%
        margin-bottom: 20px
    @media(max-width: 460px)
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
    &__title
        color: #000000
        font-family: $title-font
        font-size: 18px
        font-weight: 400
        line-height: 21px
        margin-bottom: 10px
    &__item
        color: #505050
        font-family: $font
        font-size: 12px
        font-weight: 400
        line-height: 25px
.footer-menu__item.active
    color: #000000
.footer-contacts-wrapper
.footer-contacts
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    @media (max-width: 400px)
        justify-content: center
    &:last-child
        margin-bottom: 0
        @media (max-width: 400px)
            justify-content: space-between
.footer-contacts-link,.footer-contacts-text
    color: #000000
    font-family: $title-font
    font-weight: 500
    font-size: 18px
    line-height: 20px
    @media (max-width: 400px)
        display: none
.footer-contacts-text
    font-size: 14px!important
.footer-contacts-btn
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: #ffffff!important
    font-family: $title-font
    font-size: 14px
    width: 170px
    height: 30px
    border-radius: 6px
    background-image: linear-gradient(to right, rgb(255, 153, 39) 0%, rgb(255, 112, 24) 21%, rgb(210, 55, 56) 39%, rgb(147, 22, 70) 60%, rgb(106, 13, 75) 80%, rgb(78, 9, 80) 100%)
    &:focus
        outline: none
    @media (max-width: 400px)
        width: 100%
.social-icon
    font-size: 22px
.politic-conf
    color: #000000
    font-family: $font
    font-size: 12px
    font-weight: 400
    line-height: 14px
    margin-bottom: 10px
.copyright
    font-family: $font
    font-size: 12px
    font-weight: 400
    line-height: 14px
/// вспомогательные стили ////
button
    border: none
    outline: none
.justify-center
    display: flex
    justify-content: center
.center
    display: flex
    align-items: center
.text-center
    text-align: center
.mb-sm
    margin-bottom: 10px
.mb-md
    margin-bottom: 20px
.mb-lg
    margin-bottom: 30px
.mb-xl
    margin-bottom: 50px
.mb-100px
    margin-bottom: 100px
.p-none
    padding: 0
.pl-none
    padding-left: 0!important
.pr-none
    padding-right: 0!important
.pl-35px
    padding-left: 35px
.uppercase
    text-transform: uppercase
.text-bold
  font-weight: 700
.underline
    border-bottom: 1px solid #000
.image-center
    display: flex
    justify-content: cente
    align-items: center
    justify-self: center

/////////// modal //////////////
////
.modal-header,.modal-footer
    border: none
.modal_form
    width: 450px!important
.modal-dialog-centered
    justify-content: center
#modal_close
    position: absolute
    right: 10px
    cursor: pointer
    display: block
    border-radius: 50%
    width: 32px
    height: 32px
    opacity: 1
    background: none
#modal_close:before, #modal_close:after 
    position: absolute
    top: calc(50% - 9px)
    left: 15px
    content: ' '
    height: 20px
    width: 3px
    background-color: #000
#modal_close:before 
    transform: rotate(45deg)
#modal_close:after 
    transform: rotate(-45deg)
.modal-title
    font-family: $title-font-bold
    font-size: 24px
    font-weight: 700
    color: #000000
    text-align: left
    margin-bottom: 30px
.feedback-modal__input-placeholder 
    width: 100%
    height: 40px
    background-color: #fcfcfd
    border: 1px solid #C5C5C5
    border-radius: 5px
    position: relative
    line-height: 40px
    color: #000
    font-family: $font
    font-size: 16px
    font-weight: 700
    margin-bottom: 11px
.feedback-modal__input-placeholder-text
    margin-bottom: 11px
.feedback-modal__input-text
    font-size: 16px
    font-weight: 700
    font-family: $font
    width: 100%
    height: 200px
    background-color: #fcfcfd
    border: 1px solid #C5C5C5
    border-radius: 5px
    position: relative
    padding: 10px 15px
    resize: none
    &:focus
        border: 1px solid #eb6c06
.feedback-modal__input-placeholder input 
    width: 100%
    height: 38px
    border-radius: 5px
    position: relative
    line-height: 40px
    color: #000
    font-family: $font
    font-size: 16px
    top: -1px
    padding: 0 20px
.feedback-modal__input:focus
    border: 1px solid #eb6c06
.feedback-modal__input-placeholder input:valid + .feedback-modal__placeholder 
    display: none
.feedback-modal__input:focus + .feedback-modal__placeholder
    display: none
.feedback-modal__placeholder 
    padding: 0 15px
    position: absolute
    font-size: 16px
    pointer-events: none
    top: calc(50% - 20px)
    bottom: 2px
    left: 3px
    margin: auto
    color: #000000
.feedback-modal__placeholder span 
    color: #eb6c06
.modal__radio
    height: 50px
    color: #000
    width: 100%
    display: flex
    align-items: center
    margin-bottom: 10px
    label
        font-size: 14px
        margin-right: 15px
        cursor: pointer
        font-family: $font
    input
        margin-right: 5px
        cursor: pointer
.modal__radio-item
    width: 50%
[type="radio"]:checked,
[type="radio"]:not(:checked) 
    position: absolute
    left: -9999px
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
    position: relative
    padding-left: 28px
    cursor: pointer
    line-height: 20px
    display: inline-block
    color: #000
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before 
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 18px
    height: 18px
    border: 2px solid #C5C5C5
    border-radius: 100%
    background: #fff
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after 
    content: ''
    width: 8px
    height: 8px
    background: #eb6c06
    position: absolute
    top: 5px
    left: 5px
    border-radius: 100%
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease
[type="radio"]:not(:checked) + label:after 
    opacity: 0
    -webkit-transform: scale(0)
    transform: scale(0)
[type="radio"]:checked + label:after 
    opacity: 1
    -webkit-transform: scale(1)
    transform: scale(1)
.modal-confidencial
    display: inline-block
    font-family: $font
    margin-bottom: 20px
    font-size: 14px
    color: #000
    input[type="checkbox"]
        display: none
.modal-confidential-link
    transition: 0.2s
    display: inline
    color: #FF9225
    text-decoration: underline!important
    &:hover
        color: #FF9225
        text-decoration: none!important
.feedback__modal-btn
    display: block
    width: 100%
    height: 75px
    line-height: 50px
    border-radius: 10px
    font-size: 22px
    color: #ffffff
    background-color: #FF9225
    cursor: pointer
    transition: 0.5s ease
    font-family: $font
    text-align: center
    &:hover
        background-color: #ff9927
        color: #fff
/// authorization ////
.breadcrumb
  background-color: transparent
  font-family: $font
  font-size: 12px
  padding: 0
  padding-top: 3px
  margin-bottom: 30px
.authorization-content
  margin-top: 55px
.about-us
    background: url('../img/Ресурс 2.png') no-repeat
    background-position: 60% 70%
    padding-top: 80px
////sidebar////
.sidebar
    padding-right: 0
.content
    padding-left: 0
.content > .container
        padding: 0
.sidebar-menu
    position: sticky
    top: 55px
.sidebar-menu__item
  transition: 0.2s
  display: flex
  align-items: center
.sidebar-menu__item-link::before
    display: block
    margin-right: 10px
    content: ""
    border-radius: 50%
    width: 8px
    height: 8px
    background: #e7e7e7
    transition: 0.2s

.sidebar-menu__item-link:hover::before
    background: #ff9927
.sidebar-menu__item-link
    display: flex
    align-items: center
    transition: 0.2s
    &:hover
        color: #ff9927
.sidebar-menu__item-link.active
    color: #4e0950
    font-family: $font
    font-weight: 700
    &:before
        display: block
        margin-right: 10px
        content: ""
        border-radius: 50%
        width: 25px
        height: 8px
        border-radius: 8px
        background: #4e0950
.sidebar-menu__item-link
    color: #000000
    font-family: $font
    font-size: 18px
    font-weight: 500
    margin-bottom: 35px

.item-text,.item-icon
  justify-content: center
  align-items: center
  display: flex
  width: 100%
  justify-content: center
  text-align: center
.scrollable
    max-height: 100vh
    overflow-y: auto
    &::-webkit-scrollbar
        width: 0
.content-title
  font-size: 42px
  font-family: $title-font-bold
  font-weight: 600
  margin-bottom: 20px
.content-subtitle
    color: #000000
    font-family: $title-font-bold
    font-size: 30px
    font-weight: 700
    line-height: 35px
.content-subtitle-sm
    color: #000000
    font-family: $title-font-bold
    font-size: 20px
    font-weight: 700
    line-height: 23px
.content-item
    display: flex
    align-items: center
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 400
    &::before
        content: ""
        width: 8px
        height: 8px
        border: 2px solid #4e0950
        margin-right: 10px
.content-list
    li
        list-style-position: inside
        &::before
            margin-right: 10px
            display: inline-block
            position: relative
            top: -1.5px
            content: ""
            background: url('../img/authorization/Rectangle 3.10.png')
            width: 9px
            height: 8px
            vertical-align: middle
.color-orange
    color: #ff7018
.page-slogan-text
    color: #898989
    font-family: $font
    font-size: 13px
    line-height: 15px
    margin-top: -10px
.paragraph
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 500
    line-height: 32px
    &:first-letter
        margin-left: 15px
.text
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 500
    line-height: 32px
.common-text
    color: #000000
    font-family: $font
    font-size: 16px
.p
    color: #000000
    font-family: $font
    font-size: 16px
    line-height: 32px
.first-letter:first-letter
    margin-left: 5px
.lh-19
    line-height: 19px!important
.lh-42
    line-height: 42px!important
.lh-23
    line-height: 23px!important
.width-100
    width: 100%!important
.width-90
    width: 90%!important
.shadow
    box-shadow: 0 0 32px rgba(120, 120, 120, 0.33)
    border-radius: 25px
.gerb
  background: url('../img/authorization/Layer 111.png') no-repeat 80% 20%
.zakon-paragraph-title
    font-family: $title-font-bold
    font-size: 20px
    line-height: 25px
.request
    height: 200px
    display: flex
    justify-content: center
    align-items: center
.request-btn
    display: flex
    justify-content: center
    align-items: center
.com-btn
    width: 360px
    height: 80px
    border-radius: 6px
    background: #ff9927
    transition: 0.2s
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: #ffffff
    font-family: $font
    font-size: 22px
    font-weight: 400
    line-height: 26px
    &:hover
        background: #FF9E3D
        color: #fff
///////////////
.scheme-text
    text-align: center
    color: #000000
    font-family: $font
    font-size: 12px
    font-weight: 400
    line-height: 14px
.content-center
    display: flex
    flex-direction: column
    align-items: center
///// blog ////
.blog
    padding-top: 80px
.blog-sidebar
    position: sticky
    top: 75px
.blog-menu-list
    display: flex
    justify-content: space-between
.blog-menu-list-item
.blog-menu-list-item-link
    transition: 0.2s
    color: #000000
    font-family: $title-font
    font-size: 18px
    font-weight: 700
    padding: 5px 
    border-bottom: 2px solid transparent
    &:hover
        color: #4e0950
        border-bottom: 2px solid #4e0950
.blog-content-subtitle
    color: #000000
    font-family: $title-font-bold
    font-size: 22px
    line-height: 45px
.blog-article-name-wrapper
    padding: 25px 0
    border-bottom: 1px solid #b1b1b1
.blog-article-name
    transition: 0.2s
    display: block
    color: #000000
    font-family: $title-font
    font-size: 18px
    font-weight: 500
    line-height: 21px
    &:hover
        color: #ff9927
.article-preview
    margin-bottom: 75px
.article-name
    color: #000000
    font-family: $title-font-bold
    font-size: 26px
    line-height: 30px
    margin-bottom: 10px
.article-info
    display: flex
    align-items: center
    margin-bottom: 20px
.article-date
    color: #000000
    font-family: $title-font
    font-size: 14px
    font-weight: 300
    position: relative
    padding-left: 15px
    display: flex
    align-items: center
    &::before
        content: ""
        left: 0
        position: absolute
        height: 13px
        width: 13px
        background: url('../img/clock.png') no-repeat
.date-dot
    margin: 0 10px
    width: 2px
    height: 2px
    background-color: #000000
.article-tags
    width: 70%
    display: flex
    align-items: center
    flex-wrap: wrap
.article-tag
    transition: 0.2s
    cursor: pointer
    margin-right: 10px
    color: #000000
    font-family: $title-font
    font-size: 14px
    font-weight: 300
    &:hover
        color: #ff9927
.article-tag__hashtag
    color: #ff9927
.read-more
    transition: 0.2s
    display: inline-block
    margin-top: 15px
    color: #ff9927
    font-size: 16px
    font-family: $title-font-bold
    border-bottom: 1px solid #ff9927
    &:hover
        border-bottom: 1px solid #000
.return
    display: block
    font-size: 14px
    color: #a4a4a4
    line-height: 16px
    font-family: $title-font-bold
    &:hover
        color: #a4a4a4
        text-decoration: underline
.article-title
    color: #000000
    font-family: $title-font-bold
    font-size: 42px
    line-height: 49px
.blog-social-icon
    margin-top: 27px
    transition: 0.2s
    color: #fff
    height: 48px
    width: 48px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    font-size: 100%
    &:hover
        color: #ffffff
.tw
    background-color: #00aced
    &:hover
        transform: scale(1.1)
.fb
    background-color: #3b5998
    &:hover
        transform: scale(1.1)
.ok
    background-color: #eb722e
    &:hover
        transform: scale(1.1)
.vk
    background-color: #48729e
    &:hover
        transform: scale(1.1)
.contacts
    width: 100%
    height: 900px
.contacts-content
    position: absolute
    z-index: 1000
.contacts-wrapper
    height: 900px
    padding-top: 110px
    padding-left: 50px
    background: rgba(255, 255, 255, 0.85)
    @media (max-width: 767px)
        padding-top: 50px
.contacts-title
    color: #000000
    font-family: $title-font-bold
    font-size: 48px
    line-height: 56px
.contacts-row
    display: flex
    margin-bottom: 20px
    @media (max-width: 767px)
        flex-wrap: wrap
.contacts-block
    margin-right: 60px
.contacts-block-title
    color: #454545
    font-family: $font
    font-size: 12px
    font-weight: 300
    line-height: 14px
    margin-bottom: 5px
.contacts-text
    color: #000000
    font-family: $title-font
    font-size: 16px
    font-weight: 300
    line-height: 23px
.contacts-subtitle
    color: #000000
    font-family: $title-font-bold
    font-size: 30px
    line-height: 35px
.company-name
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 400
    line-height: 19px
    margin-left: 10px
    @media (max-width: 767px)
        display: block
@import wifi-transport.sass
@import wifi-target.sass
@import partners.sass
@import commerce-wifi.sass