@import fonts.sass

.page-name
    padding-top: 75px
//// universal solution ////

.width-100px
    width: 100px!important
.solution-item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 150px
.solution-item-icon
    width: 100px
    height: 100px
    background-color: #ff9927
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
.solution-item-text
    color: #000000
    font-family: $font
    font-size: 16px
    font-weight: 400
    line-height: 21px


////tables////
table
    width: 100%
    border-collapse: separate
    td,th
        text-align: center
        vertical-align: middle
.tables
    margin-top: 75px
.table__title
    display: flex
    justify-content: center
    align-items: center
    &-text
        text-align: center
        color: #000000
        font-family: $font
        font-size: 30px
        font-weight: 400
        line-height: 48px
.table-cost
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 60px
    table
        td,th
            color: #000000
            font-family: $font
            font-size: 14px
            padding: 5px 0
            line-height: 28px
        th
            background-color: #7f044a
            font-weight: 700
            color: #fff       
.left-column
    background-color: #fe7901
    font-weight: 700
    width: 19%
.right-column
    width: 17%
.right-column, .middle-column
    background-color: #ebe1e5
    font-weight: 400
////table-sales////
.table-sales
    margin-top: 10px
    display: flex
    justify-content: center
    th,td
        font-family: $font
        font-size: 14px
        line-height: 28px
        padding: 5px 0
    th
        font-weight: 700
        color: #fff
        background-color: #7f044a
        &:first-child
            width: 33%
        &:last-child
            width: 20%
            background-color: #d23738
    td
        font-weight: 400
        background-color: #ebe1e5
        &:last-child
            background-color: #fdc0b0
///table-prepay///
.table-prepay
    margin-top: 50px
    display: flex
    justify-content: center
    margin-bottom: 170px
    th,td
        padding: 5px 0
        font-family: $font
        font-size: 14px
        line-height: 28px
    th
        width: 50%
        font-weight: 700
        color: #fff
        background-color: #7f044a
    td
        color: #000000
        font-family: $font
        font-size: 14px
        font-weight: 400
        line-height: 28px
        background-color: #ebe1e5
